{% extends 'questions/base.html' %}
{% load static %}

{% block content %}

    {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endfor %}

    <div class="my-2">
		<h2>New Question</h2>
	</div>

    <!--<div class="col-8">-->

        <form method="post" action="{% url 'ask' %}">
        {% csrf_token %}
            {% for field in form %}
                <div class="form-group row">
                    <label class="col-2 col-form-label">{{ field.label }}</label>
                    <div class="col-10">
                        {{ field }}
                         {% for error in field.errors %}
                             <div class="invalid-feedback d-block">
                                 {{ error }}
                             </div>
                         {% endfor %}
                    </div>
                </div>
            {% endfor %}

            <div class="form-group row">
                <div class="col-2 col-form-label"></div>
                <div class="col-10">
                    <button class="btn btn-primary my-3" type="submit">Ask</button>
                </div>
            </div>
        </form>
    <!--</div>-->

{% endblock %}