{% load static %}

<!DOCTYPE html>

<html class="h-100" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >
    <!--Нужно для подгрузки конопочек лайка  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <title>AskChloe</title>
</head>
<body class="d-flex flex-column h-100">

    <!--ШАПКА САЙТА-->
    {% block nav %}{% endblock %}

    <!--ОСНОВНАЯ ЧАСТЬ САЙТА (колонки)-->
    {% block all_hot %}{% endblock %}
        <!--Левая колонка-->
    <div class="container">
        <div class="row">
            <div class="col-8">
            {% block content %}{% endblock %}
            </div>

        <!--Правая колонка-->
            <div class="col-4">
                <div class="container">
                    <h3> Popular tags </h3>
                    {% for tag in tags %}
                        <a href="{% url 'tag' tag.title %}">{{ tag.title }}</a>
                    {% endfor %}
                </div>

                <div class="container">
                    <h3> Best members </h3>
                    <ul class="list-unstyled">
                        <li><a  href="#">Chloe Price</a></li>
                        <li><a  href="#">Rachel Amber</a></li>
                        <li><a  href="#">Mark Jefferson</a></li>
                        <li><a  href="#">Max Caulfield</a></li>
                        <li><a  href="#">Frank Bauers</a></li>
                    </ul>
                </div>
            </div> <!-- /.blog-sidebar -->
        </div>
    </div>
    <footer class="footer mt-auto py-3">
        <span class="text-muted mx-3"><a class="navbar-brand" href="#">Arcadia Inc. (C) 2019 - All rights reserved. Meow.</a></span>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>