{% extends 'questions/base.html' %}
{% load static %}

{% block all_hot %}

	<div class="container my-2">
		<div class="btn-group" >
			<a type="button" class="btn btn-secondary" name="options" id="option1" autocomplete="off" href="{% url 'index' %}" checked> All questions </a>
			<a type="button" class="btn btn-secondary active" name="options" id="option2" autocomplete="off" href="{% url 'hot' %}"> Popular questions </a>
		</div>
	</div>

{% endblock %}

{% block content %}

    {% for question in object_list %}
        <!--Post-->
        <div class="container vertical_align">
            <div class="row media my-2 border border-dark rounded">
                <div class="col-2">
                    <div class="row m-2">
                        <img src="{{ question.author.avatar.url }}" class="m-auto rounded" width="64" height="64" alt="...">
                    </div>

                    <div class="row m-2 border border-dark rounded">
                        <h3 class="m-auto">{{ question.rating }}</h3>
                    </div>

                    <div class="row m-2">
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary"><i class="far fa-thumbs-up"></i></button>
                            <button type="button" class="btn btn-secondary"><i class="far fa-thumbs-down"></i></button>
                        </div>
                    </div>
                </div>

                <div class="col-10 media-body mt-1 mx-0 h-100">
                    <div class="container vertical_align h-100">
                        <div class="row">
                            <h5 class="mt-0">{{ question.title }}</h5>
                        </div>
                        <div class="row">
                            <p>{{ question.text }}</p>
                        </div>
                        <div class="row mt-auto mb-2">
                            <div>
                                 <a href="{% url 'question' question.id %}">Answer({{ question.ans_count }})</a>
                            </div>
                            <div class="ml-auto mb-2 pb-2">
                                <div class="text-right">
                                    Tags:
                                    {% for tag in question.tags.all %}
                                        <a href="{% url 'tag' tag.title %}">{{ tag.title }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% block pagination %}
	{% include 'questions/include/pagination.html' %}
{% endblock %}

{% endblock %}

