{% extends 'questions/base.html' %}
{% load static %}

{% block all_hot %}

	<div class="container my-2">
		<div class="btn-group" >
			<a type="button" class="btn btn-secondary" name="options" id="option1" autocomplete="off" href="{% url 'index' %}" checked> All questions </a>
			<a type="button" class="btn btn-secondary active" name="options" id="option2" autocomplete="off" href="{% url 'hot' %}"> Popular questions </a>
		</div>
	</div>

{% endblock %}

{% block content %}

     {% for question in object_list %}
        <!--Post-->
        <!--<div class="col-8">-->
        <div class="media my-2 border border-dark rounded">
            <!--<div class="row px-3">-->
                <div class="col-2">
                    <div class="row m-2">
                        <img src="{{ question.author.avatar.url }}" class="m-auto rounded" width="64" height="64" alt="...">
                    </div>

                    <div class="row m-2 border border-dark rounded">
                        <h3 class="m-auto">{{ question.rating }}</h3>
                    </div>

                    <div class="row m-2">
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary"><i class="far fa-thumbs-up"></i></button>
                            <button type="button" class="btn btn-secondary"><i class="far fa-thumbs-down"></i></button>
                        </div>
                    </div>
                </div>

                <div class="media-body col-10 mt-1 mx-0">
{#                    <div class="row">#}
                        <h5 class="mt-0">{{ question.title }}</h5>
                        <p> {{ question.text }}</p>
{#                    </div>#}
                    <div class="row mb-2">
                        <div class="col-6">
                             <a href="{% url 'question'  question.id  %}">Answer({{ question.ans_count }})</a>
                        </div>
                        <div class="col-6">
                            Tags:
                            {% for tag in question.tags.all %}
                                <a href="{% url 'tag' tag.title %}">{{ tag.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            <!--</div>-->
        </div>
        <!--</div>-->
        <!---->
    {% endfor %}

{% block pagination %}
	{% include 'questions/include/pagination.html' %}
{% endblock %}

{% endblock %}

