{% extends 'questions/base.html' %}
{% load static %}

{% block content %}

    {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endfor %}

    <div class="my-2">
        <h2>Sign In</h2>
    </div>

    <!--<div class="col-8">-->

        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
            {% for field in form %}
                <div class="form-group row">
                    <label class="col-2 col-form-label">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            <div class="form-group row">
                <div class="col-2 col-form-label"></div>
                <div class="col-10">
                    <ul class="list-unstyled">
                        <li><button type="submit" class="btn btn-primary my-3">Sign In</button></li>
                        <li><a href="{% url 'signup' %}">Don't registered yet? Join us!</a></li>
                        <input type="hidden" name="continue" value="{{ continue_url }}">
                    </ul>
                </div>
            </div>
        </form>
    <!--</div>-->


{% endblock %}