{% extends 'questions/base.html' %}
{% load static %}

{% block content %}

{#    Информация на будущее о том, как правильно прикреплять текст к низу какого-либо блока:#}
{#    Для того, чтобы иметь возможность присоединть элементы к краям блока - нужно использовать соответвующие#}
{#    margin отступ со значением auto. Т.е. в случае, если нужно прикрепить текст к низу - указываем у блока#}
{#    текста класс mt-auto (margin-top: auto) - тогда браузер сможет сам проставлять нужное значение margin'a#}
{#    для того, чтобы нижний элемент имел нужный отступ от предыдущего.#}
{#    Для работы знаечния auto требуется значение display - flex. Но при использовании данного display возникает#}
{#    ряд проблем. Flex будет отключен, и, следовательно, не будет работать m-auto, если хотя бы один родительский#}
{#    блок не имеет display-flex. => нужно следить за иерархией flex.#}
{#    Также, при указании нового режима отображения все блочные элементы приобретают новые свойства и уже не занимают#}
{#    всю ширину блока, даже если им это явно указать. Для решения этой проблемы использовать flex-direction: column - #}
{#    тогда все блочные элементы будут выстраиваться в колонку внутри флекса с данным атрибутом.#}
{#    Наконец, чтобы прикрепить текст к низу блока - нужно указать height: 100% у нужного родительского блока.#}
{#    Причем! Нужно соблюдать такую же иерархию, как и в случае с flex.#}
    <div>
        <h2 class="mt-2">{{ question.title }}</h2>
    </div>
    <div class="container vertical_align">
        <div class="row media my-2">
            <div class="col-2 ">
                <div class="row m-2">
                    <img src="{{ question.author.avatar.url }}" class="m-auto rounded" width="64" height="64" alt="...">
                </div>

                <div class="row m-2 border border-dark rounded">
                    <h3 class="m-auto">{{ question.rating }}</h3>
                </div>
                <div class="row m-2">
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary"><i class="far fa-thumbs-up"></i></button>
                        <button type="button" class="btn btn-secondary"><i class="far fa-thumbs-down"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-10 media-body mt-1 mx-0 h-100 ">
                <div class="container vertical_align h-100">
                    <div class="row">
                        <p class="text-break">{{ question.text }}</p>
                    </div>
                    <div class="row mt-auto border-bottom mb-2">
                        <div class="col-5">
                            <div class="row text-secondary">
                                {{ question.author.user.username }} asked
                            </div>
                            <div class="row pb-2">
                                <div class="text-secondary">
                                    {{ question.date }}
                                </div>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="row mt-auto">
                                <div class="ml-auto pb-2 text-right">
                                    Tags:
                                    {% for tag in question.tags.all %}
                                        <a href="{% url 'tag' tag.title %}">{{ tag.title }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h3 class="mt-2">Answers:</h3>
        </div>
        {% if question.ans_count == 0 %}
            <div>
                <h4 class="mt-2 pl-4">Be the first!</h4>
            </div>
        {% endif %}
    </div>

    {% for answer in object_list %}
        <div class="container vertical_align" id="ans{{ answer.id }}">
            <div class="row media my-2">
                <div class="col-2">
                    <div class="row m-2">
                        <img src="{{ answer.author.avatar.url }}" class="m-auto rounded" width="64" height="64" alt="...">
                    </div>

                    <div class="row m-2 border border-dark rounded">
                        <h3 class="m-auto">{{ answer.rating }}</h3>
                    </div>

                    <div class="row m-2">
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary"><i class="far fa-thumbs-up"></i>
                            </button>
                            <button type="button" class="btn btn-secondary"><i class="far fa-thumbs-down"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-10 media-body mt-1 h-100">
                    <div class="container vertical_align border-top pt-2 h-100">
                        <div class="row">
                            <p class="text-break">{{ answer.text }}</p>
                        </div>
                        <div class="row mt-auto text-secondary">
                            {{ answer.author.user.username }} at
                        </div>
                        <div class="row mb-2 pb-2 border-bottom">
                            <div class="text-secondary">
                                {{ answer.date }}
                            </div>
                            <div class="ml-auto custom-control custom-checkbox ml-3">
                                <label class="custom-control-label" for="customCheck00">Correct</label>
                                <input type="checkbox" class="custom-control-input" id="customCheck00">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="container vertical_align">
        {% block pagination %}
            <div class="pt-3 border-top">
                {% include 'questions/include/pagination.html' %}
            </div>
        {% endblock %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
        <div>
            {% if is_auth %}
                <form method="post" action="{% url 'question' question.id %}">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label >{{ field.label }}</label>
                            {{ field }}
                            {% for error in field.errors %}
                                 <div class="invalid-feedback d-block">
                                     {{ error }}
                                 </div>
                             {% endfor %}
                        </div>
                    {% endfor %}
                    <button class="btn btn-primary" type="submit">Answer</button>
                </form>
            {% else %}
                <h3>You need to sign in before leaving answers.</h3>
                <a class="btn btn-outline-primary" href="{% url 'login' %}?continue={{ request.path|urlencode }}">Sign In</a>
            {% endif %}
        </div>
    </div>

{% endblock %}
