{% extends 'questions/base.html' %}
{% load static %}

{% block content %}

    {% if code and code == 'OK' %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endif %}
    {% if code and code == 'FAIL' %}
         <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endif %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endfor %}
    <div class="my-2">
        <h2>Settings: {{ username }}</h2>
    </div>

    <!--<div class="container mb-2">-->
        <!--<div class="row">-->
            <!--<div class="col-8">-->

                <form method="post" enctype="multipart/form-data" action="{% url 'settings' %}">
                {% csrf_token %}
                    <div class="form-group row">
                        <label for="staticEmail" class="col-2 col-form-label">Email</label>
                        <div class="col-10">
                            <input type="text" readonly class="form-control-plaintext" id="staticEmail"
                                   value="{{ user.user.email }}">
                        </div>
                    </div>

                    {% for field in form %}
                        <div class="form-group row">
                            {% if field.name == 'avatar' %}
                                <label class="col-2 col-form-label">Current avatar</label>
                                <div class="col-10">
                                    <img src="{{ user.avatar.url }}" class="my-2" width="128" height="128">
                                </div>
                            {% endif %}
                            <label class="col-2 col-form-label">{{ field.label }}</label>
                            <div class="col-10">
                                {{ field }}
                                {% for error in field.errors %}
                                    <div class="invalid-feedback d-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}

                    <div class="form-group row">
                        <div class="col-10">
                            <button type="submit" class="btn btn-primary my-3">Make changes</button>
                        </div>
                    </div>
                </form>

        {% endblock %}