{% extends 'questions/base.html' %}
{% load static %}

{% block nav %}

    <nav class="navbar navbar-light bg-light ">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url 'index' %}">Ask Chloe</a>

        <ul class="nav justify-content-end">

            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                <a type="button" class="btn btn-outline-primary mx-1" name="asking" id="ask" autocomplete="off" href="{% url 'ask' %}"> Ask! </a>
            </form>

            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                <img src="{% static 'img/Chloe64.jpg' %}" class="rounded-circle"> Chloe Price
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'settings' %}">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'login' %}">Log Out</a>
                </div>
            </li>
        </ul>
    </nav>

{% endblock %}

{% block content %}

    <div class="container my-2">
		<h2>Tag: {{tag_name}}</h2>
	</div>

    {% for question in object_list %}
    <!--Post-->
        <div class="media my-2 border border-dark rounded">
            <!--<div class="row px-3">-->
                <div class="col-2">
                    <div class="row m-2">
                        <img src="/{{ question.author.avatar }}" class="my-auto ml-2 rounded" alt="...">
                    </div>

                    <div class="row m-2 border border-dark rounded">
                        <h3 class="m-auto">{{ question.rating }}</h3>
                    </div>

                    <div class="row m-2">
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary"><i class="far fa-thumbs-up"></i></button>
                            <button type="button" class="btn btn-secondary"><i class="far fa-thumbs-down"></i></button>
                        </div>
                    </div>
                </div>

                <div class="media-body col-10 mt-1 mx-0">
{#                    <div class="row">#}
                        <h5 class="mt-0">{{ question.title }}</h5>
                        <p> {{ question.text }}</p>
{#                    </div>#}
                    <div class="row mb-2">
                        <div class="col-6">
                             <a href="{% url 'question' question.id  %}">Answer({{ question.ans_count }})</a>
                        </div>
                        <div class="col-6">
                            Tags:
                            {% for tag in question.tags.all %}
                                <a href="{% url 'tag' tag.title %}">{{ tag.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            <!--</div>-->
        </div>
    <!---->
    {% endfor %}


{% block pagination %}
	{% include 'questions/include/pagination.html' %}
{% endblock %}

{% endblock %}
