.row > [class*='col-'] {
	 display: flex;
	 flex-direction: column;
}
[class*='col-'] .container.vertical_align {
	 display: flex;
	 flex-direction: column;
}

.date_and_tags {
	display: flex;
	flex-direction: row;
}